@{
    ViewData["Title"] = "SmartLib - Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon img -->
    <link rel="shortcut icon" href="~/assets/images/favicon.png">
    <!-- Bootstarp min css -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Mean menu css -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <!-- All min css -->
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <!-- Swiper bundle min css -->
    <link rel="stylesheet" href="~/assets/css/swiper-bundle.min.css">
    <!-- Magnigic popup css -->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <!-- Animate css -->
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <!-- Style css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>

<body>
    <main>

        <!-- Banner area start here -->
        <section class="banner-seven-area sub-bg-two bg-image" data-background="/assets/images/bg/banner-seven-bg.png">
            <div class="container">
                <div class="banner-two__content">
                    <h5 class="mb-10 primary-color text-capitalize wow fadeInRight" data-wow-delay="00ms"
                        data-wow-duration="1500ms">THƯ VIỆN THÔNG MINH</h5>
                    <h1 class="wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms"><span class="primary-color">Thư Viện Số Hóa <img src="~/assets/images/shape/banner-span-shape.png"
                                alt="shape"></span>Kho Tàng Kiến Thức
                    </h1>
                    <p class="mt-20 wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">Trải Nghiệm Đọc Sách Không Giới Hạn <br>
                    Thời Gian Và Không Gian! <br>
                    Dễ Dàng Truy Cập, Đọc Mọi Lúc, Mọi Nơi!</p>
                    <div class="d-flex align-items-center gap-3 mt-50 wow fadeInRight" data-wow-delay="600ms"
                        data-wow-duration="1500ms">
                        <a href="course.html" class="btn-one">Khám phá sách<i
                                class="fa-light fa-arrow-right-long"></i></a>
                        <div class="banner__video-btn ml-20">
                            <div class="video-btn video-pulse">
                                <a class="video-popup" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i
                                        class="fa-solid fa-play"></i></a>
                            </div>
                        </div>
                        <h5 class="d-none d-sm-block">Xem</h5>
                    </div>
                </div>
            </div>
            <div class="banner-seven__image">
                <img class="w-100" src="~/assets/images/banner/banner-seven-hero.png" alt="image">
                <img class="al-quran animation__arryUpDown" src="~/assets/images/shape/banner-seven-quran.png"
                    alt="image">
            </div>
        </section>
        <!-- Banner area end here -->

        <!-- About area start here -->
        <section class="about-seven-area pt-120 pb-120">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-xl-5 wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="~/assets/images/about/about-seven-image.png" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="about__right-wrp">
                            <div class="section-header">
                                <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">Về chúng tôi</h5>
                                <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Thư viện <span>thông minh <img src="~/assets/images/shape/header-shape.png"
                                            alt="shape"></span>- Kho Tàng Kiến Thức Trong Tầm Tay
                                </h2>
                            <p class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms" style="text-align: justify;">Thư viện thông minh là giải pháp đọc sách hiện đại, giúp bạn dễ dàng tiếp cận kho tàng tri thức ở bất cứ đâu với chi phí hợp lý. Không cần tốn kém mua sách hay mất thời gian đến thư viện, bạn có thể thảnh thơi tại nhà và khám phá những cuốn sách tuyệt vời mà chúng tôi mang đến. Đọc sách trở nên tiện lợi và thú vị hơn bao giờ hết!</p>
                            </div>
                            <div class="about__right-part mt-30 wow fadeInDown" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <div class="about__info">

                                    <div>
                                        <h4>Thời gian linh hoạt</h4>
                                        <p class="mt-10" style="text-align: justify;">Dễ dàng sắp xếp thời gian đọc phù hợp với lịch trình của bạn, tận hưởng sách bất cứ lúc nào, bất cứ nơi đâu.</p>
                                    </div>

                                </div>
                                <div class="about__info">

                                    <div>
                                        <h4>Tự động hóa hiện đại</h4>
                                        <p class="mt-10" style="text-align: justify;">Hệ thống tự động hóa tiên tiến giúp bạn dễ dàng tìm kiếm, chọn lọc và thuê sách chỉ với vài cú nhấp chuột. Không cần phải tốn thời gian đến thư viện, bạn có thể truy cập và tận hưởng kho tàng sách phong phú mọi lúc, mọi nơi.</p>
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-4 wow fadeInDown mt-40" data-wow-delay="400ms"
                                data-wow-duration="1500ms">
                                <a href="/Home/About" class="btn-one">Về chúng tôi<i
                                        class="fa-light fa-arrow-right-long"></i></a>
                                <div class="d-flex flex-wrap gap-2 align-items-center">
                                    <div class="about-five__call-icon">
                                        <span class="pxl__zigzag"><svg width="26" height="26" viewBox="0 0 26 26"
                                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_918_1337)">
                                                    <path
                                                        d="M5.41667 4.33337H9.75L11.9167 9.75004L9.20833 11.375C10.3685 13.7275 12.2725 15.6315 14.625 16.7917L16.25 14.0834L21.6667 16.25V20.5834C21.6667 21.158 21.4384 21.7091 21.0321 22.1154C20.6257 22.5218 20.0746 22.75 19.5 22.75C15.2742 22.4932 11.2885 20.6987 8.2949 17.7051C5.3013 14.7115 3.5068 10.7258 3.25 6.50004C3.25 5.9254 3.47827 5.3743 3.8846 4.96798C4.29093 4.56165 4.84203 4.33337 5.41667 4.33337Z"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <path
                                                        d="M16.25 7.58337C16.8246 7.58337 17.3757 7.81165 17.7821 8.21798C18.1884 8.6243 18.4167 9.1754 18.4167 9.75004"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <path
                                                        d="M16.25 3.25C17.9739 3.25 19.6272 3.93482 20.8462 5.15381C22.0652 6.37279 22.75 8.02609 22.75 9.75"
                                                        stroke="white" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </g>
                                                <defs>
                                                    <clipPath>
                                                        <rect width="26" height="26" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg></span>
                                    </div>
                                    <div class="info">
                                        <span class="sm-font fw-500 secondary-color">Liên hệ quảng cáo</span>
                                        <h5>+84 83-433-1416</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About area end here -->

        <!-- Courses area start here -->
        <section class="courses-seven-area pt-120 pb-120 sub-bg-two bg-image"
            data-background="/assets/images/bg/ellipse-bg.png">
            <div class="courses-seven__shape1">
                <img class="sway__animationX" src="~/assets/images/shape/courses-seven-shape1.png" alt="shape">
            </div>
            <div class="courses-seven__shape2">
                <img class="animation__rotate" src="~/assets/images/shape/courses-seven-shape2.png" alt="shape">
            </div>
            <div class="courses-seven__shape3">
                <img class="animation__rotateY" src="~/assets/images/shape/courses-seven-shape3.png" alt="shape">
            </div>
            <div class="container">
                <div class="section-header text-center mb-60">
                    <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">SÁCH NỔI BẬT</h5>
                    <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Khám Phá Những <span>Cuốn Sách
                            <img src="~/assets/images/shape/header-shape.png" alt="shape"></span>
                        Mới</h2>
                </div>
                <div class="row g-4">
                    @if (ViewBag.Books != null && ((List<LibraryManager.Models.Books>)ViewBag.Books).Count > 0)
                    {
                        foreach (var book in (List<LibraryManager.Models.Books>)ViewBag.Books)
                        {
                            <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <div class="courses-seven__item">
                                    <div class="courses-seven__image image">
                                        <img src="@Url.Content(book.CoverImage)" alt="@book.Title" class="img-fluid" style="max-width: 100%; height: auto;">
                                        <span class="time fs-18 fw-500">
                                            @book.RentalPrice
                                        </span>
                                    </div>
                                    <div class="courses-seven__content">
                                        <h3><a href="course-details.html" class="primary-hover">@book.Title</a></h3>
                                        <ul class="d-flex align-items-center gap-4 mt-3 mb-25">
                                            <li>
                                                <a class="primary-hover fs-14" href="#0">@book.Category?.Name</a>
                                            </li>
                                        </ul>
                                        <div class="courses-seven__info d-flex align-items-center justify-content-between gap-3">
                                            <div class="d-flex gap-2 align-items-center">
                                                <img src="~/assets/images/courses/courses-seven-user1.jpg" alt="image">
                                                <a href="#0" class="primary-hover">@book.Author?.Name</a>
                                            </div>
                                            <div class="info-day bg1">
                                                @book.ReadingDuration
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </section>
        <!-- Courses area end here -->

        <!-- Fanfact area start here -->
        <section class="fanfact-four-area pt-80 pb-80 primary-bg bg-image"
            data-background="/assets/images/bg/trial-bg.png">
            <div class="container">
                <div class="fanfact-four__wrp">
                    <div class="fanfact-four__item text-center">
                        <img class="mb-20" src="~/assets/images/icon/fanfact-five-icon1.png" alt="icon">
                        <h2 class="text-white"><span class="count text-white">25</span>+</h2>
                        <span class="text-white">Year of experience</span>
                    </div>
                    <div class="fanfact-four__item text-center">
                        <img class="mb-20" src="~/assets/images/icon/fanfact-five-icon2.png" alt="icon">
                        <h2 class="text-white"><span class="count text-white">6500</span>+</h2>
                        <span class="text-white">Class Completed</span>
                    </div>
                    <div class="fanfact-four__item text-center">
                        <img class="mb-20" src="~/assets/images/icon/fanfact-five-icon3.png" alt="icon">
                        <h2 class="text-white"><span class="count text-white">100</span>+</h2>
                        <span class="text-white">Experts Instructors</span>
                    </div>
                    <div class="fanfact-four__item text-center last-item">
                        <img class="mb-20" src="~/assets/images/icon/fanfact-five-icon4.png" alt="icon">
                        <h2 class="text-white"><span class="count text-white">6561</span>+</h2>
                        <span class="text-white">Students Enroll</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fanfact area end here -->

        <!-- Banner video area start here -->
        <div class="banner-video-seven-area pt-120">
            <div class="container">
                <div class="banner-video-seven__wrp image">
                    <img src="~/assets/images/video/video-seven-image.png" alt="image">
                    <div class="banner-video__video-btn">
                        <div class="video-btn video-pulse">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=cBGEn_L_fxs"><i
                                    class="fa-solid fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner video area end here -->

        <!-- Team area start here -->
        <section class="team-seven-area sub-bg-two pt-100 pb-120 bg-image"
            data-background="/assets/images/bg/team-seven-bg.png">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between gap-4 flex-wrap mb-60">
                    <div class="section-header">
                        <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">OUR TEAM</h5>
                        <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">Amazing
                            <span>Instructor <img src="~/assets/images/shape/header-shape.png" alt="shape">
                            </span>
                        </h2>
                    </div>
                    <div class="d-flex align-items-center gap-3 wow fadeInUp" data-wow-delay="400ms"
                        data-wow-duration="1500ms">
                        <button class="arry-prev team-two__arry-prev"><i
                                class="fa-light fa-arrow-left-long"></i></button>
                        <button class="arry-next team-two__arry-next active"><i
                                class="fa-light fa-arrow-right-long"></i></button>
                    </div>
                </div>
                <div class="swiper team-four__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="team-seven__item">
                                <div class="team-seven__image image">
                                    <img src="~/assets/images/team/team-seven-image1.jpg" alt="image">
                                    <div class="team-two__share">
                                        <a class="share-icon" href="#0"><i class="fa-light fa-share-nodes"></i></a>
                                        <ul>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-four__content">
                                    <h4><a href="team-details.html">Suborna Islam</a></h4>
                                    <span>Jyotiasana</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team-seven__item">
                                <div class="team-seven__image image">
                                    <img src="~/assets/images/team/team-seven-image2.jpg" alt="image">
                                    <div class="team-two__share">
                                        <a class="share-icon" href="#0"><i class="fa-light fa-share-nodes"></i></a>
                                        <ul>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-four__content">
                                    <h4><a href="team-details.html">Kawser Ahmed</a></h4>
                                    <span>Meditation</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="team-seven__item">
                                <div class="team-seven__image image">
                                    <img src="~/assets/images/team/team-seven-image3.jpg" alt="image">
                                    <div class="team-two__share">
                                        <a class="share-icon" href="#0"><i class="fa-light fa-share-nodes"></i></a>
                                        <ul>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-four__content">
                                    <h4><a href="team-details.html">Shanta Parvin</a></h4>
                                    <span>Padmasana</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team area end here -->

        <!-- Faq area start here -->
        <section class="faq-seven-area pt-120 pb-120">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="section-header mb-40">
                            <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">FAQ’S</h5>
                            <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">We Are Always
                                Ensure Best Course For Your <span>Learning <img
                                        src="~/assets/images/shape/header-shape.png" alt="shape"></span></h2>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item shadow border-none wow fadeInDown" data-wow-delay="00ms"
                                data-wow-duration="1500ms">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How long should a business plan be?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>It is a long established fact that a reader be distracted by
                                            the readable content of a page when looking a its layout.
                                            Many desktop publishing packages and web page.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item shadow border-none wow fadeInDown" data-wow-delay="200ms"
                                data-wow-duration="1500ms">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is included in your services?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>It is a long established fact that a reader be distracted by
                                            the readable content of a page when looking a its layout.
                                            Many desktop publishing packages and web page.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item shadow border-none wow fadeInDown" data-wow-delay="400ms"
                                data-wow-duration="1500ms">
                                <h2 class="accordion-header" id="headingthree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsethree" aria-expanded="false"
                                        aria-controls="collapsethree">
                                        What type of company is measured?
                                    </button>
                                </h2>
                                <div id="collapsethree" class="accordion-collapse collapse"
                                    aria-labelledby="headingthree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>It is a long established fact that a reader be distracted by
                                            the readable content of a page when looking a its layout.
                                            Many desktop publishing packages and web page.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 wow fadeInLeft" data-wow-delay="200ms"
                        data-wow-duration="1500ms">
                        <div class="faq-seven__image">
                            <img class="w-100" src="~/assets/images/faq/faq-seven-image.png" alt="image">
                            <img class="shape1 animation__rotate" src="~/assets/images/shape/faq-seven-shape1.png"
                                alt="shape">
                            <img class="shape2 animation__rotateY" src="~/assets/images/shape/faq-seven-shape2.png"
                                alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faq area end here -->

        <!-- Testimonial area start here -->
        <section class="testimonial-seven-area sub-bg-two pt-120 pb-120 bg-image"
            data-background="/assets/images/bg/ellipse-bg.png">
            <div class="testimonial-seven__shape1">
                <img class="sway__animationX" src="~/assets/images/shape/courses-seven-shape1.png" alt="shape">
            </div>
            <div class="testimonial-seven__shape2">
                <img class="animation__rotate" src="~/assets/images/shape/courses-seven-shape2.png" alt="shape">
            </div>
            <div class="testimonial-seven__shape3">
                <img class="animation__rotateY" src="~/assets/images/shape/courses-seven-shape3.png" alt="shape">
            </div>
            <div class="container">
                <div class="section-header mb-60 text-center">
                    <h5 class="wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">TESTIMONIALS</h5>
                    <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">What Our <span>Costumers
                            <img src="~/assets/images/shape/header-shape.png" alt="shape"></span> Say this</h2>
                </div>
                <div class="swiper testimonial-seven__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-seven__item">
                                <div class="d-flex align-items-center gap-4 justify-content-between mb-15">
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star disabled"></i>
                                    </div>
                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.5">
                                            <path
                                                d="M21.5998 15.1662C21.4359 21.2706 20.2326 27.1028 17.1618 32.4687C15.0391 36.1766 11.8636 38.7708 8.31789 40.9881C8.09312 41.1284 7.80413 41.3886 7.55907 41.1588C7.2836 40.9002 7.52189 40.5673 7.66216 40.3087C8.9449 37.9646 10.3121 35.6645 11.4292 33.2309C12.6528 30.564 13.6212 27.811 14.2567 24.9396C14.4257 24.1774 14.255 24.0929 13.535 24.2484C7.64188 25.526 2.16112 21.8976 1.00852 15.9858C-0.0849304 10.38 3.84608 4.78603 9.51275 3.88694C15.9196 2.86954 21.5491 7.65063 21.5998 14.1522C21.6015 14.4902 21.5998 14.8282 21.5998 15.1662Z"
                                                fill="#2EB97E" />
                                            <path
                                                d="M44.25 15.2202C44.0793 21.5916 42.7949 27.6571 39.3912 33.1581C37.3175 36.5077 34.3228 38.8501 31.0746 40.9288C30.816 41.0945 30.4729 41.4375 30.1856 41.1198C29.9253 40.8325 30.2346 40.4877 30.3884 40.1987C31.6559 37.8462 33.0401 35.5562 34.1403 33.1142C35.3351 30.4642 36.2917 27.7382 36.9153 24.8939C37.0775 24.1536 36.8967 24.0827 36.2224 24.2415C30.2836 25.6358 24.4277 21.6338 23.5556 15.4348C22.7985 10.0537 26.7751 4.68115 32.1359 3.89022C38.7118 2.92353 44.2162 7.65053 44.25 14.2923C44.25 14.6016 44.25 14.9109 44.25 15.2202Z"
                                                fill="#2EB97E" />
                                        </g>
                                    </svg>
                                </div>
                                <p>when an unknown printer took away galley of type aawer awtnd there are scrambled it
                                    to make a type many but also the
                                    leap into</p>
                                <div class="d-flex align-items-center gap-3 mt-30">
                                    <img src="~/assets/images/testimonial/testimonial-seven-image1.png" alt="image">
                                    <div class="testi-info">
                                        <h4>Pranto Sha</h4>
                                        <p class="fs-14">CEO, Learnit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-seven__item">
                                <div class="d-flex align-items-center gap-4 justify-content-between mb-15">
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star disabled"></i>
                                    </div>
                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.5">
                                            <path
                                                d="M21.5998 15.1662C21.4359 21.2706 20.2326 27.1028 17.1618 32.4687C15.0391 36.1766 11.8636 38.7708 8.31789 40.9881C8.09312 41.1284 7.80413 41.3886 7.55907 41.1588C7.2836 40.9002 7.52189 40.5673 7.66216 40.3087C8.9449 37.9646 10.3121 35.6645 11.4292 33.2309C12.6528 30.564 13.6212 27.811 14.2567 24.9396C14.4257 24.1774 14.255 24.0929 13.535 24.2484C7.64188 25.526 2.16112 21.8976 1.00852 15.9858C-0.0849304 10.38 3.84608 4.78603 9.51275 3.88694C15.9196 2.86954 21.5491 7.65063 21.5998 14.1522C21.6015 14.4902 21.5998 14.8282 21.5998 15.1662Z"
                                                fill="#2EB97E" />
                                            <path
                                                d="M44.25 15.2202C44.0793 21.5916 42.7949 27.6571 39.3912 33.1581C37.3175 36.5077 34.3228 38.8501 31.0746 40.9288C30.816 41.0945 30.4729 41.4375 30.1856 41.1198C29.9253 40.8325 30.2346 40.4877 30.3884 40.1987C31.6559 37.8462 33.0401 35.5562 34.1403 33.1142C35.3351 30.4642 36.2917 27.7382 36.9153 24.8939C37.0775 24.1536 36.8967 24.0827 36.2224 24.2415C30.2836 25.6358 24.4277 21.6338 23.5556 15.4348C22.7985 10.0537 26.7751 4.68115 32.1359 3.89022C38.7118 2.92353 44.2162 7.65053 44.25 14.2923C44.25 14.6016 44.25 14.9109 44.25 15.2202Z"
                                                fill="#2EB97E" />
                                        </g>
                                    </svg>
                                </div>
                                <p>when an unknown printer took away galley of type aawer awtnd there are scrambled it
                                    to make a type many but also the
                                    leap into</p>
                                <div class="d-flex align-items-center gap-3 mt-30">
                                    <img src="~/assets/images/testimonial/testimonial-seven-image2.png" alt="image">
                                    <div class="testi-info">
                                        <h4>Tanha Tonima</h4>
                                        <p class="fs-14">CEO, Learnit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-seven__item">
                                <div class="d-flex align-items-center gap-4 justify-content-between mb-15">
                                    <div class="star">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star disabled"></i>
                                    </div>
                                    <svg width="45" height="45" viewBox="0 0 45 45" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.5">
                                            <path
                                                d="M21.5998 15.1662C21.4359 21.2706 20.2326 27.1028 17.1618 32.4687C15.0391 36.1766 11.8636 38.7708 8.31789 40.9881C8.09312 41.1284 7.80413 41.3886 7.55907 41.1588C7.2836 40.9002 7.52189 40.5673 7.66216 40.3087C8.9449 37.9646 10.3121 35.6645 11.4292 33.2309C12.6528 30.564 13.6212 27.811 14.2567 24.9396C14.4257 24.1774 14.255 24.0929 13.535 24.2484C7.64188 25.526 2.16112 21.8976 1.00852 15.9858C-0.0849304 10.38 3.84608 4.78603 9.51275 3.88694C15.9196 2.86954 21.5491 7.65063 21.5998 14.1522C21.6015 14.4902 21.5998 14.8282 21.5998 15.1662Z"
                                                fill="#2EB97E" />
                                            <path
                                                d="M44.25 15.2202C44.0793 21.5916 42.7949 27.6571 39.3912 33.1581C37.3175 36.5077 34.3228 38.8501 31.0746 40.9288C30.816 41.0945 30.4729 41.4375 30.1856 41.1198C29.9253 40.8325 30.2346 40.4877 30.3884 40.1987C31.6559 37.8462 33.0401 35.5562 34.1403 33.1142C35.3351 30.4642 36.2917 27.7382 36.9153 24.8939C37.0775 24.1536 36.8967 24.0827 36.2224 24.2415C30.2836 25.6358 24.4277 21.6338 23.5556 15.4348C22.7985 10.0537 26.7751 4.68115 32.1359 3.89022C38.7118 2.92353 44.2162 7.65053 44.25 14.2923C44.25 14.6016 44.25 14.9109 44.25 15.2202Z"
                                                fill="#2EB97E" />
                                        </g>
                                    </svg>
                                </div>
                                <p>when an unknown printer took away galley of type aawer awtnd there are scrambled it
                                    to make a type many but also the
                                    leap into</p>
                                <div class="d-flex align-items-center gap-3 mt-30">
                                    <img src="~/assets/images/testimonial/testimonial-seven-image3.png" alt="image">
                                    <div class="testi-info">
                                        <h4>Prince Sagor</h4>
                                        <p class="fs-14">CEO, Learnit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-60">
                    <div class="dot testimonial-seven__dot"></div>
                </div>
            </div>
        </section>
        <!-- Testimonial area end here -->

        <!-- Gallery area start here -->
        <div class="gallery-seven-area">
            <div class="swiper gallery-seven__slider">
                <div class="swiper-wrapper">
                @if (ViewBag.Books != null && ((List<LibraryManager.Models.Books>)ViewBag.Books).Count > 0)
                {
                    foreach (var book in (List<LibraryManager.Models.Books>)ViewBag.Books)
                    {
                    <div class="swiper-slide">
                        <div class="gallery-seven__image image">
                            <img src="@Url.Content(book.CoverImage)" alt="image">
                            <a class="instagram-icon" href="#0">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    }
                }
                </div>
            </div>
        </div>
        <!-- Gallery area end here -->
    </main>

</body>