@{
    Layout = "~/Areas/User/Views/Shared/_SideBarLayout.cshtml";
}
@model LibraryManager.Areas.User.Models.ProfileViewModel

    <div class="col-lg-9 col-md-12">
        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                <h1 class="dash__h1 u-s-m-b-14">Quản lý tài khoản</h1>

                <span class="dash__text u-s-m-b-30">Từ Bảng điều khiển Tài khoản của tôi, bạn có thể xem ảnh chụp nhanh về hoạt động tài khoản gần đây của mình và cập nhật thông tin tài khoản. Chọn liên kết bên dưới để xem hoặc chỉnh sửa thông tin.</span>
                <div class="row">
                    <div class="col-lg-4 u-s-m-b-30">
                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                            <div class="dash__pad-3">
                                <h2 class="dash__h2 u-s-m-b-8">HỒ SƠ CÁ NHÂN</h2>
                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                    <a href="/User/Dashboard/EditProfile">Chỉnh sửa</a></div>

                                <span class="dash__text">@Model.Username</span>

                                <span class="dash__text">@Model.Email</span>
                                
                                </div>
                                
                        </div>
                    </div>
                    <div class="col-lg-4 u-s-m-b-30">
                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                            <div class="dash__pad-3">
                                <h2 class="dash__h2 u-s-m-b-8">ĐỊA CHỈ</h2>
                                <div class="dash__link dash__link--secondary u-s-m-b-8">

                                    <a href="">Chỉnh sửa</a></div>

                                <span class="dash__text">@Model.Address</span>

                                <span class="dash__text">@Model.Phone</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 u-s-m-b-30">
                        <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                            <div class="dash__pad-3">
                                <h2 class="dash__h2 u-s-m-b-8">SỐ DƯ</h2>
                                    <div class="dash__link dash__link--secondary u-s-m-b-8">
                                        <a href="">Nạp tiền</a>
                                    </div>
                                <span class="dash__text">100000000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash__box dash__box--shadow dash__box--bg-white dash__box--radius">
            <h2 class="dash__h2 u-s-p-xy-20">SÁCH THUÊ GẦN ĐÂY</h2>
            <div class="dash__table-wrap gl-scroll">
                <table class="dash__table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên sách</th>
                            <th>Bìa</th>
                            <th>Giá thuê</th>
                            <th>Thời gian thuê</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (ViewBag.RentalBooks != null)
                    {
                        foreach (var rental in ViewBag.RentalBooks)
                        {
                        <tr>
                            <td>@rental.ISBN</td>
                            <td>@rental.Book.Title</td>
                            <td>
                                <div class="dash__table-img-wrap">

                                    <img class="u-img-fluid" src="@Url.Content(rental.Book.CoverImage)" alt=""></div>
                            </td>
                            <td>
                                <div class="dash__table-total">

                                    <span>@rental.Book.RentalPrice</span>
                                    
                                </div>
                            </td>
                            <td>
                                <div class="dash__table-total">

                                    <span>@rental.RentalDate</span>
                                    
                                </div>
                            </td>
                            <td>
                                <div>
                                    @if (rental.RentalStatus == "Đang thuê")
                                    {
                                        <span class="manage-o__badge badge--shipped">Đang thuê</span>
                                    }
                                    else
                                    {
                                        <span class="manage-o__badge badge--delivered">Hết hạn</span>
                                        <div class="dash__link dash__link--brand">

                                        <a href="/Home/BookDetail/@rental.Book.Id">Thuê lại</a></div>
                                    }
                                    
                                </div>
                            </td>
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No rentals available</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

                            


  
